<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StrongerOrgString" connectionString="Data Source=68.168.209.68,14330;Network Library=DBMSSOCN;Initial Catalog=strongerorg;User Id=StrongerOrgUser;Password=Daniel1121;"
     providerName="System.Data.SqlClient" />
    <add name="StrongerOrgConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=StrongerOrg;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="logging" initializeData="StrongerOrgWinSrvLog.txt" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener"></add>
</listeners>
</trace>
</system.diagnostics>
</configuration>