<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="StrongerOrg.BL.Properties.Settings.StrongerOrgString"
      connectionString="Data Source=68.168.209.68,14330;Network Library=DBMSSOCN;Initial Catalog=strongerorg;User Id=StrongerOrgUser;Password=Daniel1121;"
      providerName="System.Data.SqlClient" />
    <add name="StrongerOrg.BL.Properties.Settings.StrongerOrgConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=StrongerOrg;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailTemplatePath" value="C:\Users\Administrator\Documents\Visual Studio 2010\Projects\StrongerOrg\Tourna\StrongerOrg.BL\EmailTemplate"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
