<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>
</head>
<body>
    <table class="style1">
        <tr>
            <td>
                Contact us from www.mirimargolin.com
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial;font-weight:bold">
                Name:
            </td>
            <td style="font-family: Arial">
                <% Name %>
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial;font-weight:bold">
                Phone or Email:
            </td>
            <td>
                <% PhoneOrEmail %>
            </td>
        </tr>
        <tr>
            <td style="font-family: Arial;font-weight:bold;vertical-align:top">
                Message:
            </td>
            <td>
                <% Message %>
            </td>
        </tr>
    </table>
</body>
</html>
