<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>
</head>
<body>
    <table class="style1">
        <tr>
            <td>
                Hi <% YourName %>
                would like to share this page from MiriMargolin website with you.
                Click here to see the <a href='<% PageUrl %>'>page</a>.
            </td>
        </tr>
         <tr>
            <td>
                <% Message %>
            </td>
        </tr>
    </table>
</body>
</html>
