<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <br />
    <br />
    <table align="center" border="0" cellpadding="4" cellspacing="0" style="-moz-border-radius: 15px;
        -webkit-border-radius: 10px; border-radius: 10px; height: 350px; width: 700px;
        border: 2px solid white; background-color: White; font-family: Courier New;">
        <tr>
            <td>
                Tournament name:
            </td>
            <td>
                <% tournamentName %>
            </td>
        </tr>
        <tr>
            <td>
                Match up:
            </td>
            <td>
               <% matchup %>
            </td>
        </tr>
        <tr>
            <td>
                Date:
            </td>
            <td>
                <% matchupDate %>
            </td>
        </tr>
        <tr>
            <td>
                Reason
            </td>
            <td>
               <% reason %>
            </td>
        </tr>
        <tr>
            <td>
                Comment
            </td>
            <td>
                <% comment %>
            </td>
        </tr>
        
    </table>
</body>
</html>
