body
{
	margin: 0;
	padding-bottom: 2em;
	background-color: #FFFFFF;
	color: #43431f;
	font-family: Verdana, Helvetica, sans-serif;
	border-top: 5px solid #aaa2fe;
	
}
a
{
	color: #01baec;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
a:visited
{
	color: #01baec;
}
a:active
{
	color: #027d9e;
}
.H1Title
{
	font-size: 17px;
	font-weight: bold;
}
.DisabledImage
{
opacity : 0.4;
    filter: alpha(opacity=40);}