<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
	<table style="width:60%" cellpadding="2" cellspacing="2" align="center">
        <tr>
            <td>
                <img src="http://www.strongerorg.com/OrganisationLogos/StrongerOrgLogoForEmails.gif" />
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;font-family:Arial">
             Dear <% PlayerName %>,
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;font-family:Arial">
                    Our Records show you were schedule to play against <% Opponent %> today at <% GameTime %> but the score wasn't updated.
            </td>
        </tr>
        <tr>
            <td align="center" style="height:100px">
                <a href="http://www.strongerorg.com/OrganisationSite/StandingUpdate.aspx?OrgId=<% OrgId %>&PlayerId=<% PlayerId %>&MatchupId=<% MatchupId %>" 
                style="font-size:25px;color:Orange;font-family:Arial">
                Update the score</a>
            </td>
        </tr>
        </table>
	</body>
</html>